.projects {
    position: relative;
    min-height: 350vh;
    padding: 20px;
    margin: 0 10%;
}

.projects h1 {
    color: #EDEDED;
    font-family: "Anton";
    font-size: 50px;
    margin-top: 64px;
}

.projects-wrapper {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;

    height: 100vh;
    gap: 20px;

    overflow: hidden;

    width: max-content;
}

.projects-container {
    display: flex;
    gap: 2vw;
    width: max-content;
}

.project {
    flex: 0 0 700px;
    width: 700px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    background: black;
    color: #EDEDED;

    padding: 20px;
    gap: 20px;

    border: 2px solid #444444;

    overflow: hidden;
}

.project-image {
    display: block;

    width: 100%;
    aspect-ratio: 7 / 4;

    object-fit: contain;
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 10px;

    min-width: 0;
}

.project-details h3 {
    text-transform: uppercase;
}

.project-details p {
    font-size: 14px;
    color: #EDEDED;

    margin: 0;
    overflow-wrap: break-word;
}

.project-links {
    display: flex;
    gap: 20px;
}

.project-links a {
    display: flex;
}

.project-icon {
    width: 24px !important;
    height: 24px;
    cursor: pointer;
}

@media (max-width: 1160px) {
    .project {
        flex: 0 0 400px;
        width: 400px;
    }
}

@media (max-width: 627px) {
    .projects {
        margin: 0;
    }

    .project {
        flex: 0 0 calc(100vw - 40px);
        width: calc(100vw - 40px);
    }
}