.projects{
    position: relative;
    min-height: 350vh; 
    padding: 20px;
    margin: 0 10%;
}

.projects h1{
    color: #EDEDED;
    font-family: "Anton";
    font-size: 50px;
    margin-top: 64px;
}

.projects-wrapper{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.projects-container{
    display: flex;
    gap: 2vw;
    will-change: transform;
}


.project{
    display: flex;
    flex-direction: column;
    background: white;
    scroll-snap-align: center;
    padding: 20px;
    gap: 20px;
    height: fit-content;
}

.project-image{
    display: flex;
    width: 700px;
    aspect-ratio: 7/4;
    object-fit: contain;
}

.project-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-details h3{
    text-transform: uppercase;
}

.project-links{
    display: flex;
    gap: 20px;
}

.project-links a{
    display: flex;
}

.project-icon{
    width: 24px !important;
    height: 24px;
    cursor: pointer;
}

@media(max-width: 1160px){
    .project-image{
        width: 400px;
    }
}

@media (max-width: 768px) {
    .projects-container {
        gap: 12px;
    }
}

@media(max-width: 627px){
    .projects{
        margin: 0;
    }
}

@media (max-width: 480px) {
    .projects-container {
        gap: 8px;
    }
}
