.projectsPage{
    display: flex;
    /* height: 100vh; */
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
    margin: 0 10%;
}

.projectsPage h1{
    color: #EDEDED;
    font-family: "Anton";
    font-size: 50px;
    margin-top: 64px;
}

.projectsPage-projects{
    display: flex;
    overflow-y: scroll;
    width: 100%;
    gap: 20px;
    scroll-snap-type: x mandatory;
    scroll-padding: 0;
    scroll-behavior: smooth;
}

.projectsPage-project{
    display: flex;
    flex-direction: column;
    background: white;
    scroll-snap-align: center;
    padding: 20px;
    gap: 20px;
}

.projectsPage-project-image{
    display: flex;
    width: 700px;
    /* height: 400px; */
    aspect-ratio: 7/4;
    object-fit: cover;
}

.projectsPage-project-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectsPage-project-links{
    display: flex;
    gap: 20px;
}

.projectsPage-icon{
    width: 24px !important;
    height: 24px;
    cursor: pointer;
}

@media(max-width: 1160px){
    .projectsPage-project-image{
        width: 400px;
    }
}

@media(max-width: 627px){
    .projectsPage{
        margin: 0;
    }

    .projectsPage-project{
        padding: 5px;
    }

    .projectsPage-project-image{
        width: 250px;
    }
}