.contacts{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    align-items: start;
    justify-content: center;
    padding: 20px;
    margin: 0 10%;
    gap: 10px;
}

.contacts h1{
    color: #EDEDED;
    align-items: flex-start;
    font-family: "Anton";
    font-size: 50px;
    margin-top: 64px;
}

.contactContents{
    display: flex;
    width: calc(100% - 40px);
}

.svg{
    padding: 0;
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;
}

.contactsDetails{
    height: 100%;
    width: 100%;
}

.contact{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
    border: 2px solid #444444;
    border-right: none;
    align-items: center;
}

.contact a{
    display: flex;
    gap: 10px;
    text-decoration: none;
    padding: 0;
}

.contact h3{
    text-transform: uppercase;
    cursor: pointer;
    color: #EDEDED;
}

.middle{
    border-top: none;
    border-bottom: none;
}

.contact img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.contactMessage{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    gap: 20px;
}

.text{
    display: flex;
    width: 60%;
}

.text h2{
    color: #EDEDED;
    font-size: 40px;
    text-transform: uppercase;
}

.form{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.form input, .form textarea{
    padding: 20px;
    width: 100%;
    background: #EDEDED;
    color: #171717;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
}

.form textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    resize: vertical;
}

.form input::placeholder, .form textarea::placeholder{
    color: #BE3144;
}

.form button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    color: #EDEDED;
    background: #BE3144;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
}

.form img{
    width: 16px;
    height: 16px;
}

@media(max-width: 1160px){
    .contacts{
        margin-bottom: 20px;
    }
    .contactContents{
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .svg{
        padding: 0;
        border-bottom: none;
    }

    .contactsDetails{
        width: calc(100% - 40px);
    }

    .contact{
        border-left: none;
    }

    .text, .form{
        width: 50%;
    }
}

@media(max-width: 627px){
    .contacts{
        margin: 0;
        margin-bottom: 20px;
    }

    .contactMessage{
        flex-direction: column;
    }

    .text, .form{
        width: 100%;
    }

    .form{
        margin-top: 10px;
        padding: 0;
    }
}