/* all */
*{
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

body{
    height: 100%;
    font-family: "Roboto";
}

html{
    scroll-behavior: smooth;
}
 
.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1; 
}

.background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

.section{
    height: 100vh;
}

/* topbar */
.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky; 
    top: 0; 
    backdrop-filter: blur(10px);
    z-index: 1000; 
}

.links, .menuLinks{
    display: flex;
    gap: 20px;
}

.logo{
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.logo img{
    width: 24px;
    height: 24px;
}

.inverted{
    color: #EDEDED;
}

.logo a, .links a, .menuLinks a{
    color: #DA0037;
    text-decoration: none;
    width: fit-content;
}

.links a, .menuLinks a{
    position: relative;
    overflow: hidden;
}

.links a::after, .menuLinks a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background: #DA0037;
    bottom: 0;
    border-radius: 8px;
    transition: width 0.3s ease;
}

.links a:hover::after, .menuLinks a:hover::after{
    width: 100%;
}

.menuButtons{
    display: none;
}

.menuButtons img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* home */
.home{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 78px - 40px);
    margin: 0 10%;
}

.role{
    color: #EDEDED;
    font-family: "Anton";
    font-size: 150px;
    line-height: 1;
    cursor: default;
}

.name{
    color: #DA0037;
    font-family: "Anton";
    font-size: 100px;
    line-height: 1;
    cursor: default;
}

.techs{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.techs p{
    color: #EDEDED;
    padding: 10px 25px;
    border: 2px solid #171717;
    background: #DA0037;
    border-radius: 25px;
    cursor: default;
}

.css{
    position: absolute;
    top: 31%;
    left: 9%;
}

.html{
    position: absolute;
    top: 34%;
    left: 37%;
}

.js{
    position: absolute;
    top: 44%;
    left: 49%;
}

.react{
    position: absolute;
    top: 29%;
    left: 82%;
}

.angular{
    position: absolute;
    top: 48%;
    left: 17%;
}

.node{
    position: absolute;
    top: 36%;
    left: 60%;
}

.express{
    position: absolute;
    top: 62%;
    left: 24%;
}

.ts{
    position: absolute;
    top: 54%;
    left: 67%;
}

@media(max-width: 1213px){
    .role{
        font-size: 125px;
    }

    .name{
        font-size: 75px;
    }

    .techs p{
        position: relative;
        top: 0;
        left: 0;
        flex-wrap: wrap;
    }
}

@media(max-width: 970px){
    .role{
        font-size: 100px;
    }

    .name{
        font-size: 50px;
    }
}

@media(max-width: 785px){
    .role{
        font-size: 75px;
    }

    .name{
        font-size: 50px;
    }
}

@media(max-width: 627px){
    .home{
        margin: 0;
    }

    .menuButtons{
        display: flex;
    }

    .links{
        display: none;
    }

    .menuLinks{
        position: absolute;
        top: 78px;
        right: 20px;
        display: flex;
        flex-direction: column;
    }

    .home{
        justify-content: start;
        padding: 20px;
    }
}

@media(max-width: 444px){
    .role{
        font-size: 80px;
    }
}

/* about */
.about{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    margin: 0 10%;
}

.about h1{
    color: #EDEDED;
    align-items: flex-start;
    font-family: "Anton";
    font-size: 50px;
}

.aboutContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 100%; */
}

.aboutContent h2{
    color: #444444;
    font-size: 30px;
    text-transform: uppercase;
}

.technologies{
    display: flex;
    gap: 20px;
    /* width: 100%; */
}

.frontend, .backend, .other{
    padding: 30px;
    color: #EDEDED;
    width: 30%;
    text-transform: capitalize;
}

.frontend, .other{
    background: #DA0037;
}

.backend{
    background: #171717;
}

@media(max-width: 785px){
    .technologies{
        flex-direction: column;
    }

    .frontend, .backend, .other{
        width: calc(100% - 60px);
    }
}

@media(max-width: 627px){
    .about{
        margin: 0;
    }
}

/* contacts */
.contacts{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    align-items: start;
    justify-content: center;
    padding: 20px;
    margin: 0 10%;
    gap: 10px;
}

.contacts h1{
    color: #EDEDED;
    align-items: flex-start;
    font-family: "Anton";
    font-size: 50px;
}

.contactContents{
    display: flex;
    padding: 0 20px;
    /* flex-direction: column; */
    width: calc(100% - 40px);
}

.svg{
    padding: 0;
    height: max-content;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
}

.contactsDetails{
    height: 100%;
    width: 100%;
}

.contact{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
    border: 1px solid #444444;
    border-right: none;
    align-items: center;
}

.contactDetails{
    display: flex;
    gap: 10px;
}

.contactDetails a{
    text-decoration: none;
}

.contactDetails h3{
    text-transform: uppercase;
    cursor: pointer;
}

.contact img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.contact h3{
    color: #EDEDED;
}

.middle{
    border-top: none;
    border-bottom: none;
}

.message{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    width: 100%;
}

.text{
    display: flex;
    width: 60%;
}

.text h2{
    color: #EDEDED;
    font-size: 40px;
    text-transform: uppercase;
}

.form{
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    /* justify-content: end;
    align-items: end; */
    width: 40%;
    gap: 20px;
}

.form input, .form textarea{
    padding: 20px;
    width: 100%;
    background: #EDEDED;
    color: #171717;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
}

.form textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    resize: vertical;
}

.form input::placeholder, .form textarea::placeholder{
    color: #DA0037;
}

.form button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    color: #EDEDED;
    background: #DA0037;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
}

.form img{
    width: 16px;
    height: 16px;
}

@media(max-width: 1160px){
    .contacts{
        margin-bottom: 20px;
    }
    .contactContents{
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .svg{
        padding: 0;
        border-bottom: none;
    }

    .contact{
        border-left: none;
    }

    .text, .form{
        width: 50%;
    }
}

@media(max-width: 627px){
    .contacts{
        margin: 0;
        margin-bottom: 20px;
    }

    .message{
        flex-direction: column;
    }

    .text, .form{
        width: 100%;
    }

    .form{
        margin-top: 10px;
        padding: 0;
    }
}

/* projects */
.projectsPage{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
    margin: 0 10%;
}

.projectsPage h1{
    color: #EDEDED;
    font-family: "Anton";
    font-size: 50px;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.project{
    width: 49%;
}

.project img{
    width: 100%;
}