.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky; 
    top: 0; 
    /* backdrop-filter: blur(10px); */
    background: black;
    z-index: 1000; 
}

.links, .menuLinks{
    display: flex;
    gap: 20px;
}

.logo{
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.logo img{
    width: 24px;
    height: 24px;
}

.inverted{
    color: #EDEDED;
}

.logo a, .links a, .menuLinks a{
    color: #DA0037;
    text-decoration: none;
    width: fit-content;
}

.links a, .menuLinks a{
    position: relative;
    overflow: hidden;
}

.links a::after, .menuLinks a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background: #DA0037;
    bottom: 0;
    border-radius: 8px;
    transition: width 0.3s ease;
}

.links a:hover::after, .menuLinks a:hover::after{
    width: 100%;
}

.menuButtons{
    display: none;
}

.menuButtons img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
