.home{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 78px - 40px);
    margin: 0 10%;
}

.role{
    color: #EDEDED;
    font-family: "Anton";
    font-size: 150px;
    line-height: 1;
    cursor: default;
}

.name{
    color: #DA0037;
    font-family: "Anton";
    font-size: 100px;
    line-height: 1;
    cursor: default;
}

.techs{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.techs p{
    color: #EDEDED;
    padding: 10px 25px;
    border: 2px solid #171717;
    background: #DA0037;
    border-radius: 25px;
    cursor: default;
}

.css{
    position: absolute;
    top: 31%;
    left: 9%;
}

.html{
    position: absolute;
    top: 34%;
    left: 37%;
}

.js{
    position: absolute;
    top: 44%;
    left: 49%;
}

.react{
    position: absolute;
    top: 29%;
    left: 82%;
}

.angular{
    position: absolute;
    top: 48%;
    left: 17%;
}

.node{
    position: absolute;
    top: 36%;
    left: 60%;
}

.express{
    position: absolute;
    top: 62%;
    left: 24%;
}

.ts{
    position: absolute;
    top: 54%;
    left: 67%;
}

@media(max-width: 1213px){
    .role{
        font-size: 125px;
    }

    .name{
        font-size: 75px;
    }

    .techs p{
        position: relative;
        top: 0;
        left: 0;
        flex-wrap: wrap;
    }
}

@media(max-width: 970px){
    .role{
        font-size: 100px;
    }

    .name{
        font-size: 50px;
    }
}

@media(max-width: 785px){
    .role{
        font-size: 75px;
    }

    .name{
        font-size: 50px;
    }
}

@media(max-width: 627px){
    .home{
        margin: 0;
    }

    .menuButtons{
        display: flex;
    }

    .links{
        display: none;
    }

    .menuLinks{
        position: absolute;
        top: 78px;
        right: 20px;
        display: flex;
        flex-direction: column;
    }

    .home{
        /* justify-content: start; */
        padding: 20px;
    }
}

@media(max-width: 444px){
    .role{
        font-size: 80px;
    }
}
