.home{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px - 40px);
    /* height: 100vh; */
    margin: 0 10%;
}

.role{
    color: #EDEDED;
    font-family: "Anton";
    font-size: 12vw;
    line-height: 1;
    cursor: default;
}

.role span{
    color: #BE3144;
}

.name{
    color: #EDEDED;
    font-family: "Anton";
    font-size: 9vw;
    cursor: default;
}

.techs{
    width: 100%;
    margin-inline: auto;
    position: relative;
    height: 44px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
}

.tech{
    width: 150px;
    display: grid;
    place-content: center;
    border-radius: 24px;
    padding: 10px 25px;
    background-color: #BE3144;
    position: absolute;
    color: #EDEDED;
    right: max(calc(200px * 8), 100%);
    font-size: 20px;
    animation: scrollRight 30s linear infinite;
}

@keyframes scrollRight{
    to{
        right: -200px;
    }
}

.css{
    animation-delay: calc(30s/8*(8 - 1)*-1);
}

.html{
    animation-delay: calc(30s/8*(8 - 2)*-1);
}

.js{
    animation-delay: calc(30s/8*(8 - 3)*-1);
}

.react{
    animation-delay: calc(30s/8*(8 - 4)*-1);
}

.angular{
    animation-delay: calc(30s/8*(8 - 5)*-1);
}

.node{
    animation-delay: calc(30s/8*(8 - 6)*-1);
}

.express{
    animation-delay: calc(30s/8*(8 - 7)*-1);
}

.ts{
    animation-delay: calc(30s/8*(8 - 8)*-1);
}

@media(max-width: 627px){
    .home{
        margin: 0;
        padding: 20px;
        align-items: flex-start;
    }

    .role{
        font-size: 20vw;
    }

    .name{
        text-align: left;
        font-size: 10vw;
    }
}