.home{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 78px - 40px);
    margin: 0 10%;
}

.role{
    color: #EDEDED;
    font-family: "Anton";
    font-size: 150px;
    line-height: 1;
    cursor: default;
}

.role span{
    color: #DA0037;
}

.name{
    color: #DA0037;
    font-family: "Anton";
    font-size: 100px;
    line-height: 1;
    cursor: default;
}

.techs{
    width: 90%;
    margin-inline: auto;
    position: relative;
    height: 42px;
    overflow: hidden;
    padding: 20px 0;
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
}

@keyframes scrollLeft{
    to{
        left: -200px;
    }
}

.tech{
    width: 150px;
    display: grid;
    place-content: center;
    border-radius: 24px;
    padding: 10px 25px;
    background-color: #EDEDED;
    position: absolute;
    color: #171717;
    left: max(calc(200px * 8), 100%);
    font-size: 20px;
    animation: scrollLeft 30s linear infinite;
}

.css{
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.html{
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.js{
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.react{
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.angular{
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.node{
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.express{
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.ts{
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

@media(max-width: 1213px){
    .role{
        font-size: 125px;
    }

    .name{
        font-size: 75px;
    }
}

@media(max-width: 970px){
    .role{
        font-size: 100px;
    }

    .name{
        font-size: 50px;
    }
}

@media(max-width: 785px){
    .role{
        font-size: 75px;
    }

    .name{
        font-size: 50px;
    }
}

@media(max-width: 627px){
    .home{
        margin: 0;
    }

    .menuButtons{
        display: flex;
    }

    .links{
        display: none;
    }

    .menuLinks{
        position: absolute;
        top: 78px;
        right: 20px;
        display: flex;
        flex-direction: column;
    }

    .home{
        /* justify-content: start; */
        padding: 20px;
    }
}

@media(max-width: 444px){
    .role{
        font-size: 80px;
    }
}
