
.dashboard-add{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.dashboard-add form{
    display: flex;
    gap: 20px;
}

.dashboard-add-image{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.dashboard-add-image button {
    display: block;
    width: 100%;
    background: #DA0037;
    color: white;
    border: none;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;

    /* display: flex;
    background-color: #DA0037;
    color: white;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
    width: calc(100% - 32px); */
}

.dashboard-add-image button:nth-child(2) {
    background: #DA0037;
}

.dashboard-add-image {
    /* border: 2px dashed #555; */
    padding: 20px;
    text-align: center;
    background: #f9f9f9;
    position: relative;
}

.dashboard-add-image p {
    color: #555;
}

.dashboard-add-image input{
    /* display: none; */
    border: 1px solid #DA0037;
}

.dashboard-add-image-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    text-align: center;
    width: 80%;
    font-size: 16px;
}

.dashboard-add-image-upload input[type="file"] {
    display: none;
}

.dashboard-add-image-upload label {
    display: flex;
    background-color: #DA0037;
    color: white;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
    width: calc(100% - 32px);
}

.dashboard-add-image-preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 80%;
}

.dashboard-add-image-preview canvas {
    max-width: 100%;
    height: auto;
}

.dashboard-add-cropped-image-preview{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.dashboard-add-cropped-image-preview img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.dashboard-add-cropped-image-preview button{
    width: 100%;
}

.dashboard-add-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.dashboard-add-form input{
    padding: 20px;
    border: none;
    outline: none;
    background: #EDEDED;
    color: #171717;
    font-size: 16px;
}

.dashboard-add-form input::placeholder{
    color: #DA0037;
}

.dashboard-add-form button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background: #DA0037;
    color: #EDEDED;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.dashboard-add-form button img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

@media(max-width: 720px){
    .dashboard-add form{
        flex-direction: column;
    }

    .dashboard-add-image{
        width: calc(100% - 40px);
    }
}