/* .dashboard-projects-div{
    display: flex;
    gap: 20px;
    width: 100%;
} */

.dashboard-projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.dashboard-projects-list{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    overflow: scroll;
    height: calc(100vh - 200px);
}

.dashboard-project{
    display: flex;
    flex-direction: column;
    width: calc((100% - 20px)/2);
    background: #EDEDED;
    /* height: 400px; */
}

.dashboard-project-image{
    display: flex;
    width: 100%;
    /* aspect-ratio: 7/4; */
}

.dashboard-project-image img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 7/4;
}

.dashboard-project-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: calc(100% - 40px);
}

.dashboard-project a{
    display: flex;
    width: 50%;
    height: 100%;
}

.dashboard-project-details h3{
    text-transform: capitalize;
}

.dashboard-project-paragraph{
    display: flex;
    /* width: calc(100% - 60px); */
}

.dashboard-project-paragraph p{
    display: block;  
    /* white-space: nowrap;       */
    overflow: hidden;          
    text-overflow: ellipsis;   
    /* width: 100%; */
}

.dashboard-project-links{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.dashboard-project-links a{
    width: fit-content;
}

.dashboard-project-links img{
    width: 24px;
    height: 24px;
}


.dashboard-skeleton{
    display: flex;
    color: #000;
    width: 100%;
    background: #EDEDED;
    height: 300px;
}

.dashboard-project-image-skeleton{
    width: 50%;  
    aspect-ratio: 7/4;
    background: linear-gradient(90deg, #f4f4f4 25%, #e0e0e0 50%, #f4f4f4 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

.dashboard-project-details-skeleton{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 50%;
}

.dashboard-project-text-skeleton{
    width: 100%;
    height: 21px;
    background: linear-gradient(90deg, #f4f4f4 25%, #e0e0e0 50%, #f4f4f4 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

.dashboard-project-links-skeleton{
    display: flex;
    align-items: center;
    gap: 20px;
}

.dashboard-project-icon-skeleton{
    width: 24px;
    height: 24px;
    background: linear-gradient(90deg, #f4f4f4 25%, #e0e0e0 50%, #f4f4f4 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 50%;
}

@media(max-width: 769px){
    .dashboard-projects-list{
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .dashboard-project{
        width: 100%;
    }
}

@media(max-width: 720px){
    .dashboard-project, .dashboard-skeleton{
        flex-direction: column;
        height: auto;
        gap: 0;
    }

    .dashboard-project-image, .dashboard-project-image-skeleton{
        width: 100%;
        aspect-ratio: 7/4;
    }

    .dashboard-project-details, .dashboard-project-details-skeleton{
        width: calc(100% - 40px);
    }
}