.login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: calc(100vh - 80px);
    padding: 20px 10%;
    justify-content: center;
    width: min(100%, 500px);
}

.login h1{
    color: #EDEDED;
    font-family: "Anton";
    font-size: 50px;
}

.login form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login input{
    padding: 20px;
    border: none;
    outline: none;
    background: #EDEDED;
    color: #171717;
    font-size: 16px;
}

.login input::placeholder{
    color: #BE3144;
}

.login .password{
    display: flex;
    position: relative;
    align-items: center;
}

.login .password input{
    display: flex;
    width: 100%;
}

.login .password img{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
}

.login button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background: #BE3144;
    color: #EDEDED;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

.login img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.login p{
    color: #EDEDED;
    text-align: end;
}

.login a{
    text-decoration: none;
    color: #BE3144;
    font-weight: bold;
}

.login a:hover{
    text-decoration: underline;
}

@media(max-width: 627px){
    .login{
        padding: 20px;
        width: calc(100% - 40px);
    }

    .login h1{
        font-size: 42px;
    }

    .login form,
    .login p{
        width: 100%;
    }
}
