.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky; 
    top: 0; 
    background: black;
    z-index: 1000; 
}

.topbar-logo{
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.topbar-logo img{
    width: 24px;
    height: 24px;
}

.topbar-menu{
    display: none;
}

.topbar-menu img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.topbar-menu-links, .topbar-links{
    display: flex;
    gap: 20px;
}

.topbar-links a, .topbar-menu-links a{
    color: #BE3144;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

@media(max-width: 627px){
    .topbar-menu{
        display: flex;
    }

    .topbar-links{
        display: none;
    }

    .topbar-menu-links{
        position: absolute;
        background: black;
        top: 64px;
        right: 0px;
        display: flex;
        padding: 20px;
        flex-direction: column;
    }
}